@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 900;
}

.navbar-logo {
  width: 50px;
}

.nav-item {
  margin: 0rem 1.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
}
.nav-link:hover {
  color: #1ed760 !important;
  transition: 0.4s all ease-in-out;
}

#login-btn {
  background-color: #1ed760;
  color: #000;
  font-weight: bold;
  border-radius: 30px;
  padding: 0.4rem 1.4rem;
}
#login-btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.4s all ease-in-out;
}

.main-section {
  background: #2941ab;
}

.hero-1 {
  height: 100vh;
  color: #1ed760;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#hero-title {
  font-size: 5rem;
  font-weight: 700;
  /* font-weight: 900; */
  font-family: "Montserrat", sans-serif;
}

.hero-btn {
  font-size: 1rem;
  border-radius: 30px;
  background: #1ed760;
  color: #000;
  font-weight: 700;
  padding: 0.8rem 1.4rem;
}

#plans-heading {
  font-weight: 900;
}

#bottom-links {
  color: #fff;
  text-decoration: none;
}

.social-links {
  font-size: 30px;
  text-decoration: none;
  margin: 8px;
  text-align: center;
}

.bi-instagram {
  color: #e84396;
}

.bi-linkedin {
  color: #176e9c;
}

.bi-globe {
  color: #0097e6;
}
h5 {
  color: #1ed760;
}
